{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h6>Tickets</h6>
            <div class="container">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ticket No.</th>
                            <th>Opened By:</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#0001</td>
                            <td>Peter(Health)</td>
                            <td>12/02/2020</td>
                            <td>Take | View</td>
                        </tr>
                        <tr>
                            <td>#0067</td>
                            <td>Abu(Finance)</td>
                            <td>22/02/2019</td>
                            <td>Take | View</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
